/* home page\general css */
/* create seperate css pages for respective seperate html page */
/* light green: #D9EAD3 */
/* slightly darker green: #C8E1B8*/
/* dark green: #B6D7A8 */
/* darker green: #A7C498 */
/* darkest green: #1f3d2b (text color)*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background: #D9EAD3;
    color: #1f3d2b;
}

.navbar {
    background-color: #B6D7A8;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: #1f3d2b;
    font-weight: bold;
}

.logo span {
    color:green;
}

.nav-links a {
    margin-left: 25px;
    text-decoration: none;
    color: #1f3d2b;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px 60px;
}

.home-text {
    max-width: 450px;
}

.home-text h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.home-text p {
    font-size: 18px;
    line-height: 1.6;
}

.home-image img {
    width: 400px;
    height: auto;
    background-color:#D9EAD3;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
}
